body {
    font-family: 'Bradley Hand', cursive;
    font-size: larger;
    background: url("../img/Junior's img/Forest_Junior.png") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
  }
  