ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.353);
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    font-family: Gill Sans, sans-serif;
    font-size: 15px;
    display: block;
    color: rgb(8, 8, 37);
    text-align: center;
    padding: 10px 14px;
    text-decoration: none; 
    
}

li a:hover:not(.active) {
    background-color: rgb(241, 235, 195);
}

.active {
    background-color: rgba(210, 190, 101, 0.58);
}